html {
  background: url(winxclub.png) no-repeat center fixed;
  background-size: cover;
}

body {
  background-color: rgba(236, 208, 222, 0.726);
  border-radius: 15px;
  margin: 25px auto;
  padding: 25px 150px 50px;
  width: 400px;
  margin: auto;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  color: rgb(70, 5, 41);
}

.nav a {
  margin: 0px 25px;
}
